name: launchpad
services:
  mssql-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    env_file:
      - .env/db.env
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    networks:
      - app-network
    volumes:
      - mssql-data:/var/opt/mssql

networks:
  app-network:
    driver: bridge

volumes:
  mssql-data: